* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    background: white;
    padding: 30px;
    width: 100%;
    max-width: 380px;
    border-radius: 18px;
    margin: auto;

    /* Soft shadow */
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    text-align: left;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}

label {
    font-size: 14px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 13px;
    margin: 8px 0 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.col {
    flex: 1;
}

.select-box {
    margin-top: 5px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 50px;
}

.select-box select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 12px;
}

.swap {
    font-size: 24px;
    margin-top: 20px;
}

#result {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
    color: darkgreen;
   
}

#btn {
    width: 100%;
    padding: 14px;
    background: #6f4ff5;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}
p{
    margin-top: 20px;
    text-align: center;
}
a{
    color: red;
}

#btn:hover {
    opacity: 0.9;
}

/* Responsive */
@media (max-width: 340px) {
    .row {
        flex-direction: column;
        gap: 5px;
    }

    .swap {
        margin: 10px 0;
    }

}

